body {
    color: pink;
    background: black;
    margin: 0px;
  font-family: "Rubik Wet Paint", sans-serif;
}


header {
    border-bottom: solid 1px rgb(61, 54, 197);
    padding: 22px;
    font-size: 42px;
    color: rgb(61, 54, 197);
}
.chamada {
    background: rgb(88, 30, 149);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
    
section {
    padding-left: 20px;
    padding-right: 20px;
  }

.chamada-texto {
    margin-right: 6%;
}
body {
    color: li   rgb(152, 29, 186);
    background: black;
    margin: 0px;
    font-family: "Rubik Wet Paint", sans-serif;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  img {
    height: 200px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

section {
  padding-left: 20px;
  padding-right: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}